<h1>New order</h1>

<% form_for(@order) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %>
