  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :document %><br />
    <%= f.text_field :document %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </p>
  <p>
  	<b>Categories</b><br />
  		<ul>
<% @categories.each do |category| %>
    	<li><%= check_box_tag "supplier[category_ids][]", category.id, @supplier.categories.include?(category), :id => "cat-#{category.id}", :onclick => "marcaProdutos(this.value);" %><%= label_tag "cat-#{category.id}", category.name %>
		<ul>
<%	Product.find(:all, :conditions =>["category_id = ?", category.id], :order => "name").each do |product| %>
			<li><%= check_box_tag "supplier[product_ids][]", product.id, @supplier.products.include?(product), :id => "prod-#{product.id}", :class => "cat-#{category.id}" %><%= label_tag "prod-#{product.id}", product.name %></li>
	<% end %>
		</ul>
	</li>
<% end %>
  		</ul>
</p>
<script type="text/javascript">
	function marcaProdutos(category){
		arr = document.getElementsByTagName('input');
		for(var i=0; i<arr.length; i++){
			obj = arr[i];
			if(obj.className == 'cat-'+category){
				obj.checked='checked';

			}
		}
	}
</script>
